.headerButton {
  width: fit-content;
  min-width: 64px;
  font-size: 12px;
  padding: 2px 8px;
  margin: 0 .5rem;
  border-radius: 1rem;
  background-color: lightgray;
  box-shadow: 2px 2px 10px black;
}