.profileHeader {
  display: flex;
  margin-bottom: 2rem;
  background-color: #252525;
  border-radius: 24px;
  padding: 1rem 1rem 1rem 2rem;
  align-items: center;
  justify-content: center;
}

.pfpContainerWrapper {
  filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.7));
}

.pfpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 256px;
  height: 256px;
  padding: 0 1rem;
  background-color: #edeee4;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%, 0 90%);
  box-shadow: inset 5px 5px 8px rgba(255, 255, 255, 0.7);
}

.pfpTopDecorations,
.pfpBottomDecorations {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.pfpTopDecorations {
  justify-content: space-between;
  gap: 1.75rem;
}

.topButton {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: red;
  border: 1px solid black;
}

.pfp {
  flex: 1;
  height: 200px;
  width: 200px;
  background-color: #e5f9ff;
  border-radius: 8px;
  border: 1px solid black;
}

.pfpBottomDecorations {
  flex: 2;
  display: flex;
  width: 200px; /* same as pfp for alignment */
}

.pfpBottomButtonContainer,
.pfpBottomMicContainer {
  display: flex;
  width: 50%;
  height: 100%;
  padding: 0 1rem;
  align-items: center;
}

.pfpBottomButtonContainer {
  justify-content: left;
}

.pfpBottomButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: red;
  border: 1px solid black;
}

.headerNameContainer {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star {
  margin-left: 4px;
  width: 1.25rem;
  height: 1.25rem;
  background-color: gold;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.headerTypeIcon {
  width: 100px;
  height: 22px;
  margin-right: .25rem;
}

.pfpBottomMicContainer {
  flex: 1;
  justify-content: right;
}

.speaker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
  align-items: center;
  width: 50%;
  height: 100%;
}

.line {
  margin: 1px;
  height: 2px;
  width: 90%;
  background-color: black;
  border-radius: 10px;
}

.middleHeaderContainer {
  flex: 1;
  margin-left: 1rem;
}

.headerButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.profileHeaderText {
  height: 200px;
  align-content: center;
  padding: 1rem;
  background-color: #e5f9ff;
  color: black;
  border: 1px solid black;
}

.profileHeaderText p,
.profileHeaderText h2 {
  margin: 0;
}

.pokeballContainer {
  width: fit-content;
  margin: 1rem 0 1rem 1rem;
}

.pokeball {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 4px solid #252525;
  background-image: radial-gradient(green 20%, green 20%, #252525 20%, #252525 35%, transparent 30%, transparent),
    linear-gradient(green 43%, #252525 43%, #252525 57%, green 57%);
}
