/* ----- Directory ----- */
.directory,
.directorySpinnerContainer {
  width: 25%;
  min-width: 200px;
  max-width: 250px;
}

.directory {
  border: 1px solid black;
  border-right: 2px solid black;
  border-bottom: 0px;
  display: flex;
  flex-direction: column;
  background-color: #9e9e9e;
}

.directorySpinnerContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
}

/* ----- Search + Filter ----- */
.searchBar {
  border-radius: 0;
}

.regionFilterContainer {
  padding: 1rem;
  background-color: #9e9e9e;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* ----- Pokemon List ----- */
.pokemonList {
  overflow: auto;
}

.pokemonList,
.pokemonListItem {
  border-radius: 0;
}

.pokemonListItem {
  background-color: #9e9e9e;
  color: black;
  border: 0px;
  border-bottom: 1px solid black;
  transition: background-color 0.2s linear;
}

.pokemonListItem:hover {
  background-color: #3f3f3f;
  color: white;
}

.noPokemonFound {
  background-color: #9e9e9e;
  padding: 8px 16px;
}
