/* ----- Directory ----- */
.directory, .directorySpinnerContainer {
  width: 25%;
  min-width: 200px;
  max-width: 250px;
}

.directory {
  border: 1px solid black;
  border-right: 2px solid black;
  border-bottom: 0px;
  display: flex;
  flex-direction: column;
  background-color: grey;
}

.directorySpinnerContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
}

/* ----- Search + Filter ----- */
.searchBar, .filterContainer {
  border-radius: 0;
  display: flex;
}

.filterContainer {
  padding: 8px 16px;
  background-color: grey;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* ----- Pokemon List ----- */
.pokemonList, .pokemonListItem {
  border-radius: 0;
}

.pokemonList {
  overflow: auto;
}

.pokemonListItem {
  background-color: grey;
  color: black;
  border: 0px;
  border-bottom: 1px solid black;
}

.pokemonListItem:hover {
  background-color: #282828;
  color: white;
}

.noPokemonFound {
  background-color: grey;
  padding: 8px 16px;
}