.container {
  display: flex;
  height: 2rem;
  width: 100%;
  align-items: flex-end;
  position: relative;
}

.big {
  background: lightgray;
  border: 1px solid black;
  border-radius: 4px 16px 0 0;
  width: 150px;
  height: 100%;
  z-index: 2;
  position: absolute;
  display: flex;
  align-items: center;
}

.small {
  width: 100%;
  height: 1rem;
  border-radius: 4px 8px 0px 0px;
  border: 1px solid black;
  position: relative;
  background: #edeee4;
}

.button {
  height: 100%;
  width: 145px;
  border: 0;
  padding: 4px 1rem;
  background-color: transparent;
  text-align: left;
}