.statsTableContainer {
  background-color: #252525;
  padding: 1rem;
  border-radius: 8px;
  display: inline-block;
}

.statsTable {
  table-layout: auto;
  border-collapse: separate;
  overflow: hidden;
  padding: .5rem;
}

.statsTable, .statsTableCell {
  border: 1px solid #000;
}

.statsTableCell, .statsBarContainerCell {
  padding: 2px;
}

.statsBarContainerCell {
  width: 200px;
}

.statsBar {
  height: 1.5rem;
  border: 1px solid;
  flex: 1;
}