.typeEffectivenessRow {
  display: flex;
  align-items: center;
}

.typeEffectivenessTextContainer {
  text-align: center;
  width: 100px;
  padding: 4px;
  flex-shrink: 0; /* Prevent shrinking */
}

.typeEffectivenessPillsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 4px;
}
