.typeEffectivenessContainer {
  background-color: #252525;
  padding: 1rem;
  border-radius: 8px;
  display: inline-block;
}

.typeEffectivenessChart {
  border: 1px solid black;
  padding: 8px 4px;
}

.typeEffectivenessChart hr {
  margin: 4px;
}

.typeEffectivenessRow {
  display: flex;
  align-items: center;
}

.typeEffectivenessTextContainer, .noneText {
  text-align: center;
  font-size: 14px;
  padding: 4px;
  flex-shrink: 0; /* Prevent shrinking */
}

.typeEffectivenessTextContainer {
  font-weight: bold;
  width: 100px;
}

.noneText {
  width: fit-content;
}

.typeEffectivenessPillsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 4px;
}
