/* ----- Profile ----- */
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInRight {
  animation: fadeInRight .5s ease-in-out forwards;
}

.profile {
  /* using padding here so when scrolling there is no white space on top/bottom */
  padding: 1rem 1rem 1rem 2rem;
  flex: 1;
  overflow: auto;
  background-color: #f45138;
}

.profile h2 {
  margin: 10px 0 0 0;
  padding: 0;
}

.profile h4 {
  margin: 1rem 0 0 0;
}

.profileHr {
  margin-top: .25rem;
}

/* ----- Spinner ----- */
.profileSpinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* ----- Splash Page ----- */
.splashPage {
  height: 100%;
  width: 100%;
  /* Center content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}