/* ----- Details ----- */
.detailsContainer {
  background-color: #252525;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  width: fit-content;
  justify-content: space-between; /* Ensures space between elements */
  gap: 1rem; /* The space between each item */
}

.detailsInfoBox {
  background-color: white;
  padding: .5rem;
  width: fit-content;
  height: fit-content;
}